.tabs-vertical ul{
	text-align: center;
	line-height: 50px;
	list-style: none;
}

.tabs-vertical a{
	color: #656a6d;
	text-decoration: none;
	outline: none;
}

.tabs-vertical {
	display: flex;
	box-shadow: 0 0 8px 4px #333;
}

.tabs-vertical .tabs-nav {
	background-color: #D0D4DA;
	flex: 0 0 200px;
}

.tabs-vertical .tabs-content {
	flex: 1;
	padding: 20px 16px;
	color: #fff;
	box-sizing: border-box;
	background-color: #333;
}

.tabs-nav>li {
	cursor: pointer;
	height: 50px;
}

.tabs-nav .tab-active {
	background-color: #333;
}

.tabs-nav .tab-active a {
	color: #fff;
}

.tabs-content>div {
	overflow: hidden;
	display: none;
}

.tabs-content>.tab-content-active {
	display: block;
}
