.tabs-vertical ul, .tabs-horizon ul {
	text-align: center;
	line-height: 50px;
	list-style: none;
}

.tabs-vertical a, .tabs-horizon a{
	color: #333;
	text-decoration: none;
	outline: none;
}

.tabs-vertical {
	box-shadow: 0 0 8px 4px #333;
}

.tabs-vertical, .tabs-horizon {
	display: flex;
	margin: 0 0 20px 0;
}

.tabs-horizon {
	flex-direction: column;
}

.tabs-vertical .tabs-nav {
	background-color: #D0D4DA;
	flex: 0 0 200px;
}

.tabs-content {
	flex: 1;
	padding: 20px 16px;
	min-height: 220px;
	color: #fff;
	box-sizing: border-box;
	background-color: #333;
}

.tabs-horizon .tabs-nav{
	flex: 0 0 50px;
	display: flex;
	background-color: #D0D4DA;
	padding: 0;
}
.tabs-horizon .tabs-nav>li{
	flex: 1;
}

.tabs-nav>li {
	cursor: pointer;
	height: 50px;
}

.tabs-nav .tab-active {
	background-color: #333;
}

.tabs-nav .tab-active a {
	color: #fff;
}

.tabs-content>div {
	overflow: hidden;
	display: none;
}

.tabs-content>.tab-content-active {
	display: block!important;
}
