body {
    font-family: Helvetica,Arial,"PingFang SC","Microsoft YaHei","WenQuanYi Micro Hei","tohoma,sans-serif";
}

#app {
    width: 100%;
    height: 100%;
    background: #16496d;
    padding-bottom: 60px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#app header{
    position: relative;
    padding: 0 6%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    background-color: #333;
}

#app header:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    bottom: -60px;
    background-image: url(../images/shadow.png);
    background-size: 100% 100%;
}

#app header h1{
    display: inline-block;
    background: -webkit-linear-gradient(left top, #42B481, #275E85);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper #map{
    width: 100%;
    height: 800px;
    margin: 20px 0;
    border: 1px solid #d3d4d5;
    box-shadow: 0 0 8px 4px #333;
}

.wrapper .file-load {
    margin: 16px 0
}

.wrapper .charts {
    margin: 16px 0;
    background-color: #333;
    display: none;
    text-align: -webkit-center;
    text-align: -moz-center;
}

.wrapper .days-option {
    line-height: 30px;
    height: 30px;
}
.days-option label {
    display: inline-block;
    height: 32px;
    padding: 0 6px;
    line-height: 32px;
    background-color: #666;
    color: #fff;
    vertical-align: top;
}

.wrapper .right-area{
    float: right;
}

.file-load>span {
    font-size: 12px;
    color: #999;
}
.file-load>label>img {
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
}

.loading-field {
    position: absolute;
    left: 0;right: 0;
    top: 0;
    height: 800px;
    z-index: 10001;
    background-color: rgba(100,100,100,.2);
    display: none;
}
.loading-field img {
    width: 100px;
    animation: slideaway 1.3s ease infinite;
}

.loading-field .loading-img {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 10002;
}

@keyframes slideaway {
    0%{
        transform: translate(-100%);
    }
    100% {
        transform: translate(100%);
    }
}