*, body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

body {
    background-color: #bdbdbd;
}

body::-webkit-scrollbar {
    width: 0;
}

label {
    font-weight: 400!important;
}

button,.ui_button {
    color: #fff!important;
    font-size: 14px;
    height: 30px;
    padding: 0 5px;
    background: #0277bd;
    outline: none;
    cursor: pointer;
    border: 1px solid #0277bd;
}

button:hover,.ui_button:hover {
    background: #039be5;
}

.ui_button {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}

input[type="text"],input[type="number"] {
    width: 8rem;
    height: 30px;
    font-size: 14px;
    border: 1px solid #0277bd;
    padding:0 6px;
}

span {
    color: #fff;
    margin-left: 3px;
}

.wrapper {
    width: 96%;
    padding: 4px 0;
    margin: 0 auto;
}

.wrapper #map{
    width: 100%;
    height: 50rem;
    margin: 0 auto;
    border: 2px solid #F3F3F3;
    /*box-shadow: 1px 1px 4px #454545;*/
}

.tab-content {
    background: #424242;
}

.wrapper .options-area {
    width: 100%;
    padding: 15px 45px;
    box-sizing: border-box;
}
.wrapper .options-area .days-option,.hours-option,.file-load {
    margin: 10px 0;
    line-height: 30px;
    height: 30px;
    clear: both;
}

.relations-area {
    margin: 10px 0;
    line-height: 30px;
    overflow: hidden;
}

.wrapper .histogram {
    width: 32%;
    height: 15rem;
    margin: 0 auto;
}

.nav-wrapper {
    text-align: center;
}

.nav-wrapper .nav {
    display: inline-block;
    vertical-align: top;
}

.nav-wrapper .nav > li {
    width: 20rem;
    font-weight: bold;
    text-align: center;
}

.nav-wrapper .nav-tabs > li.active > a {
    color: #fff!important;
    background-color: #0277bd!important;
}

.nav-wrapper .nav-tabs > li > a {
    margin: 0!important;
    border-radius: 0!important;
    border: none!important;
}

.left-area {
    float: left;
}
.right-area, .right-area>div:nth-child(1) {
    float: right;
}

.transition-ruler {
    position: absolute;
    top: 40rem;
    right: 3%;
    width: 3rem;
    height: 8rem;
    font-size: 0;
    font-weight: bold;
}

.transition-ruler .gradient {
    display: inline-block;
    width: 40%;
    height: 100%;
}

.transition-ruler .gradient-tips {
    display: inline-block;
    width: 60%;
    height: 100%;
    line-height: 100%;
    text-align: left;
    vertical-align: top;
}
.transition-ruler .gradient-tips div:nth-child(1) {
    font-size: 12px;
    width: 100%;
    height: 90%;
}

.transition-ruler .gradient-tips div:nth-child(2) {
    font-size: 12px;
    width: 100%;
    height: 10%;
}

.transition-ruler .gradient-tips div span {
    display: inline-block;
    line-height: 64px;
    vertical-align: bottom;
}

.transition-ruler .g-y{
    width: 100%;
    height: 50%;
    background: linear-gradient(bottom,#4caf50,#ffeb3b);
    background: -webkit-linear-gradient(bottom,#4caf50,#ffeb3b);
}
.transition-ruler .y-b{
    width: 100%;
    height: 50%;
    background: -webkit-linear-gradient(bottom,#ffeb3b,#f44336);
    background: linear-gradient(bottom,#ffeb3b,#f44336);
}

/*loading动画*/
.loading {
    position: absolute;
    top: 34rem;
    right: 5%;
    display: none;
}
.loading-a {
    border:0;
    margin:0;
    width:16px;
    height:16px;
    position:absolute;
    border-radius:50%;
    animation:k-loadingO 2s ease infinite;
    background:#19A68C;
    animation-delay:-1.5s
}
.loading-b {
    border:0;
    margin:0;
    width:16px;
    height:16px;
    position:absolute;
    border-radius:50%;
    animation:k-loadingO 2s ease infinite;
    background:#F63D3A;
    animation-delay:-1s
}
.loading-c {
    border:0;
    margin:0;
    width:16px;
    height:16px;
    position:absolute;
    border-radius:50%;
    animation:k-loadingO 2s ease infinite;
    background:#FDA543;
    animation-delay:-0.5s
}
.loading-d {
    border:0;
    margin:0;
    width:16px;
    height:16px;
    position:absolute;
    border-radius:50%;
    animation:k-loadingO 2s ease infinite;
    background:#193B48
}
@keyframes k-loadingO {
    0%,100% {
        transform:translate(0)
    }
    25% {
        transform:translate(160%)
    }
    50% {
        transform:translate(160%,160%)
    }
    75% {
        transform:translate(0,160%)
    }
}
/*loading动画*/

/*@media screen and (min-width: 1600px) {html{font-size:16px;}}*/
/*@media screen and (min-width: 1400px) {html{font-size:15px;}}*/
/*@media screen and (min-width: 1200px) {html{font-size:14px;}}*/
/*@media screen and (min-width: 1000px) {html{font-size:13px;}}*/
/*@media screen and (min-width: 800px) {html{font-size:12px;}}*/